<div class="container my-5">
  <h1 class="text-center mb-5">会社概要</h1>
  <div class="row">
    <div class="col-md-6 mb-4">
      <h2 class="mb-4">会社名</h2>
      <p>株式会社Nagano Cake</p>
    </div>
    <div class="col-md-6 mb-4">
      <h2 class="mb-4">所在地</h2>
      <p>〒123-4567 東京都渋谷区1-2-3</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <h2 class="mb-4">電話番号</h2>
      <p>03-1234-5678</p>
    </div>
    <div class="col-md-6 mb-4">
      <h2 class="mb-4">メールアドレス</h2>
      <p>info@nagano-cake.com</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <h2 class="mb-4">設立年月日</h2>
      <p>2020年1月1日</p>
    </div>
    <div class="col-md-6 mb-4">
      <h2 class="mb-4">代表者名</h2>
      <p>山田太郎</p>
    </div>
  </div>
</div>
