<div class="container text-center">

  <h1 class="my-5">"Nagano Cake"へようこそ！</h1>

  <p class="lead">ログインして、お買い物をはじめよう！</p>
  <%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-primary btn-lg mt-4' %>

  <p class="mt-3">アカウントをお持ちでない方はこちらから新規登録</p>
  <%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-outline-primary btn-lg' %>
</div>

